body{}
.clearipage{
    clear: both;
}
#midl{
    float: left;
    width: 647px;
    height: 494px;
    border: 1px solid transparent;
}
#midr{
    float: right;
    width: 647px;
    height: 494px;
    border: 1px solid transparent;
}
.clearmid{
    clear: both;
}
.home{
    width: 100px;
    height: 50px;
    border: 1px solid transparent;
    margin-top: 48px;
    text-align: center;
}

